<div mat-dialog-title>
    <h1>Vi phạm hành chính</h1>
</div>

<form [formGroup]="vphcForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Tên người đại diện</mat-label>
                    <input matInput type="text" placeholder="ABC" formControlName="hoTen">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Tên cơ sở</mat-label>
                    <input matInput type="text" placeholder="Cá sấu" formControlName="tenCS">
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Nội dung vi phạm</mat-label>
                    <input matInput type="text" placeholder="Trốn thuế" formControlName="noiDungVP">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Mức xử phạt</mat-label>
                    <input matInput type="number" placeholder="20 triệu" formControlName="mucXuPhat">
                </mat-form-field>
            </div>
        </div>

    
        <div class="row">
            
            <mat-form-field appearance="outline">
                <mat-label>Ngày vi phạm</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="ngayVP">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Địa chỉ</mat-label>
                <input matInput type="text" formControlName="diaChi" [value]="lnglat">
                <app-map></app-map>
            </mat-form-field>
        </div>
    
    </div>
    
    <div mat-dialog-actions class="action">
        <button class="btn" mat-raised-button type="button" [mat-dialog-close]="false" color="warn">Thoát</button>
        <button class="btn" mat-raised-button color="primary" type="submit">{{data ? 'Save': 'Lưu'}}</button>
    </div>
</form>

